@model CarBookProject.Areas.AdminDashboard.Models.BookingCar

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/CompanyAccount/Views/Shared/_CLayout.cshtml";
}

<h1>Create</h1>

<h4>BookingCar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="From_dt_Time" class="control-label"></label>
                <input asp-for="From_dt_Time" class="form-control" />
                <span asp-validation-for="From_dt_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ret_dt_Time" class="control-label"></label>
                <input asp-for="Ret_dt_Time" class="form-control" />
                <span asp-validation-for="Ret_dt_Time" class="text-danger"></span>
            </div>
          
           
       
            <div class="form-group">
                <label asp-for="Carid" class="control-label"></label>
                <select asp-for="Carid" class ="form-control" asp-items="ViewBag.Carid"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"class="btn btn-warning">Back </a>

            </div>
        </form>
    </div>
</div>


